@font-face { 
    font-family: angels; 
    src: url('fonts/angels.ttf'); 
}

@font-face { 
    font-family: otterly; 
    src: url('fonts/otterly.ttf'); 
}

body {
    /* font-family: Verdana, sans-serif; */
    font-family: angels;
    /* background-image: url("images/greenbackground.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat; */
    background-color: white;
    cursor: url("cursors/paperplane.cur"), auto;
}

h1.head {
    background-color: black;
    padding: 1em;
    color: darkred;
    text-align: center;
    font-weight: bold;
    border: 8px solid;
    border-color: #ff4d4d;
    -webkit-animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {border-color: #ff1a1a;}
    50% {color: #dd4b39;}
}